@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}



/*--------------------*/

:root {
	--color-bg: #FFFFFF;
	--color-bg-header: #434343;
	--color-placeholder: rgba(0, 0, 0, 0.5);
	--color-bg-btn: #FFFFFF;
	--color-text: #000000;
	--color-white-100: rgba(255, 255, 255, 1);
	--color-white-75: rgba(255, 255, 255, 0.75);
	--color-black-100: rgba(0, 0, 0, 1);


	--font: "Open Sans", sans-serif;

	--header-height: 210px;
	--xs3: 4px;
	--xs2: 8px;
	--xs: 16px;
	--sm: 24px;
	--md: 32px;
	--lg: 40px;
	--xl: 48px;
	--xl2: 56px;
	--xl3: 64px;
	--xl4: 72px;
	--xl5: 80px;
	--xl6: 88px;
	--xl7: 96px;
	--xl8: 104px;
	--xl9: 112px;
	--xl10: 120px;
}

.dark-theme {
	--color-bg: #727272;
	--color-bg-header: #434343;
	--color-bg-btn: #949494;
	--color-placeholder: rgba(255, 255, 255, 0.5);
	--color-text: #FFFFFF;
	--color-white-100: rgba(255, 255, 255, 1);
	--color-white-75: rgba(255, 255, 255, 0.65);
	--color-black-100: rgba(0, 0, 0, 1);
}

body {
	font-family: var(--font);
	background: var(--color-bg);
}


.container {
	height: calc(100vh - var(--header-height));
}

.calculator__header {
	background: var(--color-bg-header);
	color: var(--color-white-100);

	display: flex;
	justify-content: space-between;

	font-size: var(--sm);
	padding: var(--xs);
}

.header-nav {
	display: flex;
	gap: var(--sm);
}

.nav-link {
	color: var(--color-white-75);
}

.active-page {
	color: var(--color-white-100);
	text-decoration: underline;
}

.calculator {
	display: flex;
}

.calculator-block {
	flex: 1 1 80%;
	padding: var(--md);
	border-right: 1px solid var(--color-text);
}

.calculator-block input::placeholder {
	color: var(--color-placeholder);
}

.calculator-block input:disabled {
	background: var(--color-bg);
}

.calculator__input {
	width: 100%;
	font-size: var(--xl);
	border-top: 1px solid var(--color-text);
	padding: 5px 15px;
	color: var(--color-text);
}

.calculator__display {
	width: 100%;
	font-size: var(--xl2);
	text-align: right;
	direction: ltr;
	padding: 5px 15px;
	color: var(--color-text);
}

.calculator__keypad {
	height: 100%;
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 10px;
	-ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
	grid-template-columns: repeat(4, 1fr);
	-ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
	grid-template-rows: repeat(5, 1fr);
}

.buttons>*:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.buttons>*:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.buttons>*:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}

.buttons>*:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 7;
}

.buttons>*:nth-child(5) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.buttons>*:nth-child(6) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}

.buttons>*:nth-child(7) {
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}

.buttons>*:nth-child(8) {
	-ms-grid-row: 3;
	-ms-grid-column: 7;
}

.buttons>*:nth-child(9) {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
}

.buttons>*:nth-child(10) {
	-ms-grid-row: 5;
	-ms-grid-column: 3;
}

.buttons>*:nth-child(11) {
	-ms-grid-row: 5;
	-ms-grid-column: 5;
}

.buttons>*:nth-child(12) {
	-ms-grid-row: 5;
	-ms-grid-column: 7;
}

.buttons>*:nth-child(13) {
	-ms-grid-row: 7;
	-ms-grid-column: 1;
}

.buttons>*:nth-child(14) {
	-ms-grid-row: 7;
	-ms-grid-column: 3;
}

.buttons>*:nth-child(15) {
	-ms-grid-row: 7;
	-ms-grid-column: 5;
}

.buttons>*:nth-child(16) {
	-ms-grid-row: 7;
	-ms-grid-column: 7;
}

.buttons>*:nth-child(17) {
	-ms-grid-row: 9;
	-ms-grid-column: 1;
}

.buttons>*:nth-child(18) {
	-ms-grid-row: 9;
	-ms-grid-column: 3;
}

.buttons>*:nth-child(19) {
	-ms-grid-row: 9;
	-ms-grid-column: 5;
}

.buttons>*:nth-child(20) {
	-ms-grid-row: 9;
	-ms-grid-column: 7;
}

.btn {
	font-size: var(--xl);
	border: 1px solid #000;
	border-radius: 10px;
	background-color: var(--color-bg-btn);
	color: var(--color-text);
}

.btn:hover {
	background-color: #dfdfdf;
}

.btn:active {
	background-color: #afafaf;
}

.btn-clear {
	-ms-grid-column: 1;
	grid-column-start: 1;
	-ms-grid-column-span: 2;
	grid-column-end: 3;
	color: red;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.btn-clear:hover {
	color: white;
	background-color: rgb(255, 90, 90);
}

.btn-clear:active {
	background-color: rgb(165, 0, 0);
}

.btn-equal {
	-ms-grid-column: 3;
	grid-column-start: 3;
	-ms-grid-column-span: 2;
	grid-column-end: 5;
	color: white;
	background-color: #68b319;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.btn-equal:hover {
	background-color: #599b13;
}

.btn-equal:active {
	background-color: #42720f;
}

.history-block {
	flex: 1 1 20%;
}

.history-container {
	overflow-y: auto;
}

.history-block h4 {
	font-size: var(--sm);
	padding: var(--xs2);
	margin-bottom: var(--xs2);
	text-align: center;
	border-bottom: 1px solid var(--color-text);
	color: var(--color-text);
}

.history-container {
	font-size: var(--sm);
	padding: var(--xs3);
}

.history-item {
	cursor: pointer;
	color: var(--color-text);
}

.history-item:hover {
	font-weight: bold;
}

@media (max-width: 600px) {
	.calculator__header {
		font-size: var(--xs);
		padding: var(--xs2);
	}
}